@import"https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";
*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {
    --tw-content: ""
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.container {
    width: 100%
}

.hero-heading {
    z-index: 5;
    max-width: 850px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -.05em;
    background: linear-gradient(to right, #fff, #999);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

@media (max-width: 768px) {
    .hero-heading {
        max-width: 500px;
        font-size: 3rem;
        line-height: 1
    }
}

@media (max-width: 500px) {
    .hero-heading {
        max-width: 320px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 2rem;
        line-height: 130%
    }
}

.sub-heading {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -.05em
}

@media (max-width: 768px) {
    .sub-heading {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

@media (max-width: 500px) {
    .sub-heading {
        font-size: 2rem
    }
}

.burger-bar {
    height: 3px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.caseTab.active {
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: .1
}

.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.-top-0 {
    top: -0px
}

.bottom-0 {
    bottom: 0
}

.bottom-\[-1\%\] {
    bottom: -1%
}

.bottom-\[25\%\] {
    bottom: 25%
}

.left-0 {
    left: 0
}

.left-\[-100px\] {
    left: -100px
}

.left-\[-40px\] {
    left: -40px
}

.left-\[0\%\] {
    left: 0%
}

.left-\[0px\] {
    left: 0
}

.left-\[10\%\] {
    left: 10%
}

.left-\[100\%\] {
    left: 100%
}

.left-\[20\%\] {
    left: 20%
}

.left-\[50\%\] {
    left: 50%
}

.left-\[7\%\] {
    left: 7%
}

.right-0 {
    right: 0
}

.right-3 {
    right: .75rem
}

.right-\[-1\%\] {
    right: -1%
}

.right-\[-40px\] {
    right: -40px
}

.right-\[0\%\] {
    right: 0%
}

.right-\[0px\] {
    right: 0
}

.right-\[20\%\] {
    right: 20%
}

.right-\[25\%\] {
    right: 25%
}

.right-\[7\%\] {
    right: 7%
}

.top-0 {
    top: 0
}

.top-4 {
    top: 1rem
}

.top-\[-15\%\] {
    top: -15%
}

.top-\[-20px\] {
    top: -20px
}

.top-\[0\%\] {
    top: 0%
}

.top-\[10\%\] {
    top: 10%
}

.top-\[12\%\] {
    top: 12%
}

.top-\[2px\] {
    top: 2px
}

.top-\[30\%\] {
    top: 30%
}

.top-\[40\%\] {
    top: 40%
}

.top-\[5\%\] {
    top: 5%
}

.top-\[50\%\] {
    top: 50%
}

.top-\[80\%\] {
    top: 80%
}

.z-10,
.z-\[10\] {
    z-index: 10
}

.z-\[1\] {
    z-index: 1
}

.z-\[2\] {
    z-index: 2
}

.z-\[3\] {
    z-index: 3
}

.z-\[4\] {
    z-index: 4
}

.z-\[50\] {
    z-index: 50
}

.z-\[51\] {
    z-index: 51
}

.z-\[52\] {
    z-index: 52
}

.z-\[5\] {
    z-index: 5
}

.z-\[60\] {
    z-index: 60
}

.z-\[80\] {
    z-index: 80
}

.z-\[8\] {
    z-index: 8
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-\[100px\] {
    margin-top: 100px;
    margin-bottom: 100px
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-\[8px\] {
    margin-bottom: 8px
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-\[-25px\] {
    margin-top: -25px
}

.mt-\[0px\] {
    margin-top: 0
}

.mt-\[100px\] {
    margin-top: 100px
}

.mt-\[10px\] {
    margin-top: 10px
}

.mt-\[120px\] {
    margin-top: 120px
}

.mt-\[12px\] {
    margin-top: 12px
}

.mt-\[150px\] {
    margin-top: 150px
}

.mt-\[160px\] {
    margin-top: 160px
}

.mt-\[16px\] {
    margin-top: 16px
}

.mt-\[30px\] {
    margin-top: 30px
}

.mt-\[40px\] {
    margin-top: 40px
}

.mt-\[49px\] {
    margin-top: 49px
}

.mt-\[50px\] {
    margin-top: 50px
}

.mt-\[53px\] {
    margin-top: 53px
}

.mt-\[64px\] {
    margin-top: 64px
}

.mt-\[66px\] {
    margin-top: 66px
}

.mt-\[70px\] {
    margin-top: 70px
}

.mt-\[78px\] {
    margin-top: 78px
}

.mt-\[80px\] {
    margin-top: 80px
}

.mt-\[8px\] {
    margin-top: 8px
}

.mt-\[90px\] {
    margin-top: 90px
}

.line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5
}

.line-clamp-\[0\] {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-\[100\] {
    height: 100
}

.h-\[100px\] {
    height: 100px
}

.h-\[150px\] {
    height: 150px
}

.h-\[188px\] {
    height: 188px
}

.h-\[1px\] {
    height: 1px
}

.h-\[200px\] {
    height: 200px
}

.h-\[210px\] {
    height: 210px
}

.h-\[240px\] {
    height: 240px
}

.h-\[25\%\] {
    height: 25%
}

.h-\[250px\] {
    height: 250px
}

.h-\[25px\] {
    height: 25px
}

.h-\[280px\] {
    height: 280px
}

.h-\[2px\] {
    height: 2px
}

.h-\[303px\] {
    height: 303px
}

.h-\[318px\] {
    height: 318px
}

.h-\[47px\] {
    height: 47px
}

.h-\[48px\] {
    height: 48px
}

.h-\[4px\] {
    height: 4px
}

.h-\[50px\] {
    height: 50px
}

.h-\[52px\] {
    height: 52px
}

.h-\[586px\] {
    height: 586px
}

.h-\[60px\] {
    height: 60px
}

.h-\[70\%\] {
    height: 70%
}

.h-\[70px\] {
    height: 70px
}

.h-\[74px\] {
    height: 74px
}

.h-\[792px\] {
    height: 792px
}

.h-\[8px\] {
    height: 8px
}

.h-auto {
    height: auto
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.max-h-0 {
    max-height: 0px
}

.max-h-\[100\%\] {
    max-height: 100%
}

.max-h-\[130px\] {
    max-height: 130px
}

.max-h-\[180px\] {
    max-height: 180px
}

.min-h-\[370px\] {
    min-height: 370px
}

.min-h-\[380px\] {
    min-height: 380px
}

.min-h-\[500px\] {
    min-height: 500px
}

.w-\[100\%\] {
    width: 100%
}

.w-\[100px\] {
    width: 100px
}

.w-\[101\%\] {
    width: 101%
}

.w-\[117px\] {
    width: 117px
}

.w-\[140px\] {
    width: 140px
}

.w-\[147px\] {
    width: 147px
}

.w-\[150px\] {
    width: 150px
}

.w-\[170px\] {
    width: 170px
}

.w-\[180px\] {
    width: 180px
}

.w-\[1px\] {
    width: 1px
}

.w-\[20\%\] {
    width: 20%
}

.w-\[200px\] {
    width: 200px
}

.w-\[215px\] {
    width: 215px
}

.w-\[25\%\] {
    width: 25%
}

.w-\[250px\] {
    width: 250px
}

.w-\[25px\] {
    width: 25px
}

.w-\[30\%\] {
    width: 30%
}

.w-\[32px\] {
    width: 32px
}

.w-\[400px\] {
    width: 400px
}

.w-\[50\%\] {
    width: 50%
}

.w-\[55\%\] {
    width: 55%
}

.w-\[60\%\] {
    width: 60%
}

.w-\[74px\] {
    width: 74px
}

.w-\[75\%\] {
    width: 75%
}

.w-\[80\%\] {
    width: 80%
}

.w-\[85\%\] {
    width: 85%
}

.w-\[87\%\] {
    width: 87%
}

.w-\[8px\] {
    width: 8px
}

.w-\[90\%\] {
    width: 90%
}

.w-\[95\%\] {
    width: 95%
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.min-w-\[100px\] {
    min-width: 100px
}

.min-w-\[20px\] {
    min-width: 20px
}

.min-w-\[30px\] {
    min-width: 30px
}

.max-w-\[100px\] {
    max-width: 100px
}

.max-w-\[1200px\] {
    max-width: 1200px
}

.max-w-\[120px\] {
    max-width: 120px
}

.max-w-\[1300px\] {
    max-width: 1300px
}

.max-w-\[140px\] {
    max-width: 140px
}

.max-w-\[1440px\] {
    max-width: 1440px
}

.max-w-\[150px\] {
    max-width: 150px
}

.max-w-\[200px\] {
    max-width: 200px
}

.max-w-\[20px\] {
    max-width: 20px
}

.max-w-\[230px\] {
    max-width: 230px
}

.max-w-\[24px\] {
    max-width: 24px
}

.max-w-\[260px\] {
    max-width: 260px
}

.max-w-\[275px\] {
    max-width: 275px
}

.max-w-\[280px\] {
    max-width: 280px
}

.max-w-\[285px\] {
    max-width: 285px
}

.max-w-\[300px\] {
    max-width: 300px
}

.max-w-\[30px\] {
    max-width: 30px
}

.max-w-\[320px\] {
    max-width: 320px
}

.max-w-\[350px\] {
    max-width: 350px
}

.max-w-\[380px\] {
    max-width: 380px
}

.max-w-\[384px\] {
    max-width: 384px
}

.max-w-\[400px\] {
    max-width: 400px
}

.max-w-\[415px\] {
    max-width: 415px
}

.max-w-\[420px\] {
    max-width: 420px
}

.max-w-\[44px\] {
    max-width: 44px
}

.max-w-\[500px\] {
    max-width: 500px
}

.max-w-\[515px\] {
    max-width: 515px
}

.max-w-\[550px\] {
    max-width: 550px
}

.max-w-\[600px\] {
    max-width: 600px
}

.max-w-\[650px\] {
    max-width: 650px
}

.max-w-\[700px\] {
    max-width: 700px
}

.max-w-\[800px\] {
    max-width: 800px
}

.max-w-\[850px\] {
    max-width: 850px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-shrink {
    flex-shrink: 1
}

.origin-top {
    transform-origin: top
}

.translate-x-\[-10\%\] {
    --tw-translate-x: -10%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[-115\%\] {
    --tw-translate-x: -115%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[-50\%\] {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[0\%\] {
    --tw-translate-x: 0%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[10\%\] {
    --tw-translate-x: 10%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[115\%\] {
    --tw-translate-x: 115%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[2\%\] {
    --tw-translate-x: 2%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[-50\%\] {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[10px\] {
    --tw-translate-y: 10px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[70\%\] {
    --tw-translate-y: 70%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-0 {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-\[180deg\] {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-0 {
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[0\.75\] {
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[1\.1\] {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[1\] {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-x-\[1\.4\] {
    --tw-scale-x: 1.4;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-y-0 {
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.justify-evenly {
    justify-content: space-evenly
}

.justify-items-center {
    justify-items: center
}

.gap-1 {
    gap: .25rem
}

.gap-12 {
    gap: 3rem
}

.gap-14 {
    gap: 3.5rem
}

.gap-16 {
    gap: 4rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-7 {
    gap: 1.75rem
}

.gap-8 {
    gap: 2rem
}

.gap-\[100px\] {
    gap: 100px
}

.gap-\[12px\] {
    gap: 12px
}

.gap-\[14px\] {
    gap: 14px
}

.gap-\[150px\] {
    gap: 150px
}

.gap-\[24px\] {
    gap: 24px
}

.gap-\[40px\] {
    gap: 40px
}

.gap-\[5px\] {
    gap: 5px
}

.gap-\[7px\] {
    gap: 7px
}

.gap-\[97px\] {
    gap: 97px
}

.gap-x-\[120px\] {
    -moz-column-gap: 120px;
    column-gap: 120px
}

.gap-y-\[60px\] {
    row-gap: 60px
}

.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end
}

.overflow-hidden {
    overflow: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.whitespace-pre {
    white-space: pre
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-\[100px\] {
    border-radius: 100px
}

.rounded-\[10px\] {
    border-radius: 10px
}

.rounded-\[16px\] {
    border-radius: 16px
}

.rounded-\[2\.5rem\] {
    border-radius: 2.5rem
}

.rounded-\[28\.8px\] {
    border-radius: 28.8px
}

.rounded-\[2rem\] {
    border-radius: 2rem
}

.rounded-\[32px\] {
    border-radius: 32px
}

.rounded-\[40px\] {
    border-radius: 40px
}

.rounded-\[46px\] {
    border-radius: 46px
}

.rounded-\[50\%\] {
    border-radius: 50%
}

.rounded-\[50px\] {
    border-radius: 50px
}

.rounded-\[8px\] {
    border-radius: 8px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-xl {
    border-radius: .75rem
}

.border-\[1px\] {
    border-width: 1px
}

.border-\[4px\] {
    border-width: 4px
}

.border-\[\#6EFF61\] {
    --tw-border-opacity: 1;
    border-color: rgb(110 255 97 / var(--tw-border-opacity))
}

.border-\[\#F0AC88\] {
    --tw-border-opacity: 1;
    border-color: rgb(240 172 136 / var(--tw-border-opacity))
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-x-\[transparent\] {
    border-left-color: transparent;
    border-right-color: transparent
}

.border-t-white {
    --tw-border-opacity: 1;
    border-top-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-opacity-10 {
    --tw-border-opacity: .1
}

.border-opacity-20 {
    --tw-border-opacity: .2
}

.border-opacity-80 {
    --tw-border-opacity: .8
}

.border-opacity-\[0\.14\] {
    --tw-border-opacity: .14
}

.bg-\[\#111111\] {
    --tw-bg-opacity: 1;
    background-color: rgb(17 17 17 / var(--tw-bg-opacity))
}

.bg-\[\#212B36\] {
    --tw-bg-opacity: 1;
    background-color: rgb(33 43 54 / var(--tw-bg-opacity))
}

.bg-\[\#2C2C2C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(44 44 44 / var(--tw-bg-opacity))
}

.bg-\[\#3F3182\] {
    --tw-bg-opacity: 1;
    background-color: rgb(63 49 130 / var(--tw-bg-opacity))
}

.bg-\[\#6D00DBB2\] {
    background-color: #fbbc7b
}

.bg-\[\#7929FF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(121 41 255 / var(--tw-bg-opacity))
}

.bg-\[\#8A73FA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(138 115 250 / var(--tw-bg-opacity))
}

.bg-\[\#A553D7\] {
    --tw-bg-opacity: 1;
    background-color: rgb(165 83 215 / var(--tw-bg-opacity))
}

.bg-\[\#DA95F233\] {
    background-color: #da95f233
}

.bg-\[\#DF4F03\] {
    --tw-bg-opacity: 1;
    background-color: rgb(223 79 3 / var(--tw-bg-opacity))
}

.bg-\[\#F0AC8829\] {
    background-color: #f0ac8829
}

.bg-\[\#F0AC88\] {
    --tw-bg-opacity: 1;
    background-color: rgb(240 172 136 / var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-opacity-0 {
    --tw-bg-opacity: 0
}

.bg-opacity-10 {
    --tw-bg-opacity: .1
}

.bg-opacity-20 {
    --tw-bg-opacity: .2
}

.bg-opacity-30 {
    --tw-bg-opacity: .3
}

.bg-opacity-5 {
    --tw-bg-opacity: .05
}

.bg-opacity-50 {
    --tw-bg-opacity: .5
}

.bg-opacity-70 {
    --tw-bg-opacity: .7
}

.bg-opacity-80 {
    --tw-bg-opacity: .8
}

.bg-opacity-\[0\.04\] {
    --tw-bg-opacity: .04
}

.bg-opacity-\[0\.07\] {
    --tw-bg-opacity: .07
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-center {
    -o-object-position: center;
    object-position: center
}

.p-10 {
    padding: 2.5rem
}

.p-12 {
    padding: 3rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-\[10px\] {
    padding: 10px
}

.p-\[1px\] {
    padding: 1px
}

.p-\[28px\] {
    padding: 28px
}

.p-\[2px\] {
    padding: 2px
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px
}

.py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-\[50px\] {
    padding-bottom: 50px
}

.pr-2 {
    padding-right: .5rem
}

.pt-0 {
    padding-top: 0
}

.pt-4 {
    padding-top: 1rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-worksans {
    font-family: Work Sans
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1
}

.text-8xl {
    font-size: 6rem;
    line-height: 1
}

.text-\[1\.125rem\] {
    font-size: 1.125rem
}

.text-\[1\.25rem\] {
    font-size: 1.25rem
}

.text-\[1\.75rem\] {
    font-size: 1.75rem
}

.text-\[128px\] {
    font-size: 128px
}

.text-\[16px\] {
    font-size: 16px
}

.text-\[20px\] {
    font-size: 20px
}

.text-\[24px\] {
    font-size: 24px
}

.text-\[2rem\] {
    font-size: 2rem
}

.text-\[4rem\] {
    font-size: 4rem
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-\[700\] {
    font-weight: 700
}

.font-\[800\] {
    font-weight: 800
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.leading-10 {
    line-height: 2.5rem
}

.leading-\[110\%\] {
    line-height: 110%
}

.leading-\[115\%\] {
    line-height: 115%
}

.leading-\[120\%\] {
    line-height: 120%
}

.leading-\[150\%\] {
    line-height: 150%
}

.leading-\[30px\] {
    line-height: 30px
}

.\ !tracking-tight {
    letter-spacing: -.025em !important
}

.tracking-\[10px\] {
    letter-spacing: 10px
}

.tracking-tighter {
    letter-spacing: -.05em
}

.text-\[\#000000\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#0FD723\] {
    --tw-text-opacity: 1;
    color: rgb(15 215 35 / var(--tw-text-opacity))
}

.text-\[\#414141\] {
    --tw-text-opacity: 1;
    color: rgb(65 65 65 / var(--tw-text-opacity))
}

.text-\[\#6EFF61\] {
    --tw-text-opacity: 1;
    color: rgb(110 255 97 / var(--tw-text-opacity))
}

.text-\[\#A1C7FF\] {
    --tw-text-opacity: 1;
    color: rgb(161 199 255 / var(--tw-text-opacity))
}

.text-\[\#F0AC88\] {
    --tw-text-opacity: 1;
    color: rgb(240 172 136 / var(--tw-text-opacity))
}

.text-\[\#FFFFFF80\] {
    color: #ffffff80
}

.text-\[\#FFFFFFB2\] {
    color: #ffffffb2
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-opacity-100 {
    --tw-text-opacity: 1
}

.text-opacity-50 {
    --tw-text-opacity: .5
}

.text-opacity-70 {
    --tw-text-opacity: .7
}

.line-through {
    text-decoration-line: line-through
}

.opacity-0 {
    opacity: 0
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-lg {
    --tw-blur: blur(16px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-300 {
    transition-duration: .3s
}

.duration-\[200ms\] {
    transition-duration: .2s
}

.duration-\[500ms\] {
    transition-duration: .5s
}

.ease-in {
    transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #111;
    font-family: Manrope
}

body.active {
    overflow: hidden
}

html.lenis,
html.lenis body {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

iframe {
    pointer-events: all
}

iframe.active {
    pointer-events: none
}

html {
    scroll-padding-top: 14rem
}

code,
pre {
    text-shadow: none !important;
    color: #fff !important;
    font-style: italic;
    font-size: inherit !important;
    width: 100% !important
}

.trust-logos {
    will-change: transform;
    transform: translateZ(0)
}

.custom-scroll::-webkit-scrollbar {
    height: 3px;
    width: 4px
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent
}

.buy-micro-overlay {
    transition: .4s ease-in-out
}

.buy-micro-overlay * {
    pointer-events: none
}

.buy-micro-overlay.active {
    pointer-events: all;
    opacity: 1
}

.buy-micro-overlay.active * {
    pointer-events: all
}

.nav-desktop.active {
    background-color: #ffffff0d;
    transition: .4s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

.nav-desktop .ml-blur {
    filter: blur(50px)
}

.nav-desktop.active .ml-blur {
    opacity: 1
}

.micromsg-desktop.active,
.micromsg-mobile.active {
    background-color: #ffffff0d;
    transition: .4s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

.micromsg-desktop .ml-blur {
    filter: blur(50px)
}

.micromsg-desktop.active .ml-blur {
    opacity: 1
}

.sectionGap {
    margin-top: 100px
}

.trans-line {
    background: linear-gradient(to bottom, transparent, #d9d9d9, #e49549 70%)
}

.grey-gradient-text {
    background: linear-gradient(to right, #fff, #999);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.purple-gradient-text {
    background: linear-gradient(to right, #e49549, #fabc7d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.purple-gradient-bg {
    background: linear-gradient(to right, #e49549, #fbbc77)
}

.hero-btn,
.autobot-btn {
    background: linear-gradient(to right, #e49549, #fbbc77 120%);
    box-shadow: inset 5px 10px 10px #f0f0f080
}

.micromsg-desktop a {
    z-index: 1000;
    position: relative;
    display: none !important
}

.micromsg-mobile {
    display: none !important
}

@media screen and (max-width: 500px) {
    .hero-btn,
    .autobot-btn {
        box-shadow: inset 2px 5px 10px #f0f0f080
    }
}

.hero::-webkit-scrollbar {
    display: none
}

.hero {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.blur,
.snippet-blur {
    filter: blur(200px)
}

@media screen and (max-width: 500px) {
    .snippet-blur {
        filter: blur(80px)
    }
}

.team-card-gradient {
    background-image: linear-gradient(to bottom, #6660, #32323200, #000)
}

.team-card-gradient.active {
    background-image: linear-gradient(to bottom, #6660, #000)
}

.team-blur {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px)
}

.eff-stats-gradient {
    background: linear-gradient(to bottom, #e1e1e100, #1110 44%, #11111147 61%, #111 84%, #111)
}

.ml-blur {
    filter: blur(100px)
}

.black-blur {
    background: linear-gradient(to right, #111111 20%, transparent)
}

.black-blur-right {
    background: linear-gradient(to left, #111111 20%, transparent)
}

.platform-black-blur {
    background: linear-gradient(to right, #111111 30%, transparent)
}

.platform-black-blur-right {
    background: linear-gradient(to left, #111111 30%, transparent)
}

@media screen and (max-width: 500px) {
    .black-blur {
        background: linear-gradient(to right, #e49549 45%, transparent)
    }
    .black-blur-right {
        background: linear-gradient(to left, #e49549 45%, transparent)
    }
}

.caseTab.active img {
    filter: invert(38%) sepia(87%) saturate(367%) hue-rotate(332deg) brightness(96%) contrast(95%)
}

.case-tabs-grid {
    grid-template-columns: repeat(auto-fit, 280px)
}

.descriptionTab {
    transform: scale(0)
}

.descriptionTab.active {
    transform: scale(1);
    opacity: 1;
    position: relative;
    pointer-events: all;
    transition: .3s ease-in-out
}

.black-diag-arrow {
    filter: invert(100%)
}

.faq-answer~button {
    transform: rotate(0);
    transition: .3s ease-in-out
}

.faq-answer.active~button {
    transform: rotate(45deg)
}

.btn-arrow,
.btn-arrow img {
    transition: .3s cubic-bezier(.16, 1.04, .2, 1.42)
}

.btn-arrow:hover {
    gap: 25px
}

.btn-arrow:hover img {
    transform: rotate(45deg)
}

@media screen and (max-width: 950px) {
    .btn-arrow:hover {
        gap: 8px
    }
    .btn-arrow:hover img {
        transform: rotate(0)
    }
}

.autobot-line {
    background: linear-gradient(to right, transparent, #ffffff, transparent)
}

.platform-line {
    flex-shrink: 1
}

.platform-logo {
    background: linear-gradient(to bottom, #ffbf7e, #eaa356)
}

.snippet-container {
    perspective: 1000px
}

.code-snippet {
    transform-style: preserve-3d
}

.innovator-hero-blur {
    background: #8a73fa;
    height: 180px;
    width: 200px;
    filter: blur(150px);
    position: absolute;
    left: 48%;
    transform: translate(-50%)
}

.innovators-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 285px)
}

@media screen and (max-width: 768px) {
    .innovators-cards-grid {
        grid-template-columns: repeat(auto-fit, 169px)
    }
}

.nvdia-text-overlay {
    background: linear-gradient(to top, #111111 75%, transparent)
}

.hackathon-arrow {
    filter: invert(100%)
}

.products-dropdown {
    opacity: 0;
    transition: .3s ease-in-out;
    visibility: hidden
}

#prod-nav:hover .products-dropdown {
    opacity: 1;
    visibility: visible
}

.spinner {
    animation: spin .6s infinite linear
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.placeholder\:text-white::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.placeholder\:text-white::placeholder {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:scale-110:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:bg-opacity-10:hover {
    --tw-bg-opacity: .1
}

.hover\:bg-opacity-100:hover {
    --tw-bg-opacity: 1
}

.hover\:bg-opacity-70:hover {
    --tw-bg-opacity: .7
}

.hover\:text-opacity-100:hover {
    --tw-text-opacity: 1
}

.hover\:text-opacity-50:hover {
    --tw-text-opacity: .5
}

@media (max-width: 1350px) {
    .\-1350\:top-\[-10px\] {
        top: -10px
    }
    .\-1350\:w-\[110\%\] {
        width: 110%
    }
}

@media (max-width: 1300px) {
    .\-1300\:min-h-\[430px\] {
        min-height: 430px
    }
}

@media (max-width: 1200px) {
    .\-1200\:top-\[-10px\] {
        top: -10px
    }
    .\-1200\:max-w-\[250px\] {
        max-width: 250px
    }
    .\-1200\:scale-\[0\.7\] {
        --tw-scale-x: .7;
        --tw-scale-y: .7;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-1200\:gap-3 {
        gap: .75rem
    }
    .\-1200\:gap-8 {
        gap: 2rem
    }
    .\-1200\:text-\[2rem\] {
        font-size: 2rem
    }
}

@media (max-width: 1100px) {
    .\-1100\:top-\[-50px\] {
        top: -50px
    }
    .\-1100\:w-\[120\%\] {
        width: 120%
    }
    .\-1100\:w-full {
        width: 100%
    }
    .\-1100\:max-w-\[240px\] {
        max-width: 240px
    }
    .\-1100\:scale-\[0\.6\] {
        --tw-scale-x: .6;
        --tw-scale-y: .6;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-1100\:flex-col {
        flex-direction: column
    }
    .\-1100\:gap-6 {
        gap: 1.5rem
    }
    .\-1100\:gap-8 {
        gap: 2rem
    }
    .\-1100\:gap-\[18px\] {
        gap: 18px
    }
}

@media (max-width: 1024px) {
    .\-1024\:pointer-events-none {
        pointer-events: none
    }
    .\-1024\:pointer-events-auto {
        pointer-events: auto
    }
    .\-1024\:relative {
        position: relative
    }
    .\-1024\:order-\[-1\] {
        order: -1
    }
    .\-1024\:mb-8 {
        margin-bottom: 2rem
    }
    .\-1024\:mt-8 {
        margin-top: 2rem
    }
    .\-1024\:mt-\[30px\] {
        margin-top: 30px
    }
    .\-1024\:block {
        display: block
    }
    .\-1024\:flex {
        display: flex
    }
    .\-1024\:hidden {
        display: none
    }
    .\-1024\:\ !h-\[100px\] {
        height: 100px !important
    }
    .\-1024\:h-\[120px\] {
        height: 120px
    }
    .\-1024\:h-\[200px\] {
        height: 200px
    }
    .\-1024\:h-\[330px\] {
        height: 330px
    }
    .\-1024\:min-h-\[initial\] {
        min-height: initial
    }
    .\-1024\:\ !w-\[100px\] {
        width: 100px !important
    }
    .\-1024\:\ !w-\[120px\] {
        width: 120px !important
    }
    .\-1024\:w-\[100px\] {
        width: 100px
    }
    .\-1024\:w-\[200px\] {
        width: 200px
    }
    .\-1024\:w-\[250px\] {
        width: 250px
    }
    .\-1024\:w-fit {
        width: -moz-fit-content;
        width: fit-content
    }
    .\-1024\:w-full {
        width: 100%
    }
    .\-1024\:max-w-\[515px\] {
        max-width: 515px
    }
    .\-1024\:max-w-\[520px\] {
        max-width: 520px
    }
    .\-1024\:max-w-\[initial\] {
        max-width: initial
    }
    .\-1024\:translate-x-\[-93\%\] {
        --tw-translate-x: -93%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-1024\:translate-x-\[93\%\] {
        --tw-translate-x: 93%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-1024\:scale-100 {
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-1024\:flex-col {
        flex-direction: column
    }
    .\-1024\:flex-col-reverse {
        flex-direction: column-reverse
    }
    .\-1024\:flex-wrap {
        flex-wrap: wrap
    }
    .\-1024\:items-center {
        align-items: center
    }
    .\-1024\:justify-center {
        justify-content: center
    }
    .\-1024\:gap-8 {
        gap: 2rem
    }
    .\-1024\:gap-\[30px\] {
        gap: 30px
    }
    .\-1024\:gap-\[80px\] {
        gap: 80px
    }
    .\-1024\:rounded-\[20px\] {
        border-radius: 20px
    }
    .\-1024\:rounded-\[23px\] {
        border-radius: 23px
    }
    .\-1024\:p-4 {
        padding: 1rem
    }
    .\-1024\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .\-1024\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }
}

@media (max-width: 950px) {
    .\-950\:w-\[75\%\] {
        width: 75%
    }
    .\-950\:max-w-\[200px\] {
        max-width: 200px
    }
    .\-950\:flex-col {
        flex-direction: column
    }
    .\-950\:items-start {
        align-items: flex-start
    }
    .\-950\:justify-start {
        justify-content: flex-start
    }
    .\-950\:gap-\[100px\] {
        gap: 100px
    }
    .\-950\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .\-950\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}

@media (max-width: 768px) {
    .\-768\:left-\[18\%\] {
        left: 18%
    }
    .\-768\:right-\[18\%\] {
        right: 18%
    }
    .\-768\:top-\[-10\%\] {
        top: -10%
    }
    .\-768\:top-\[70\%\] {
        top: 70%
    }
    .\-768\:order-1 {
        order: 1
    }
    .\-768\:order-2 {
        order: 2
    }
    .\-768\:mt-\[100px\] {
        margin-top: 100px
    }
    .\-768\:mt-\[40px\] {
        margin-top: 40px
    }
    .\-768\:mt-\[60px\] {
        margin-top: 60px
    }
    .\-768\:block {
        display: block
    }
    .\-768\:hidden {
        display: none
    }
    .\-768\:h-\[113px\] {
        height: 113px
    }
    .\-768\:h-\[230px\] {
        height: 230px
    }
    .\-768\:h-\[24px\] {
        height: 24px
    }
    .\-768\:h-\[500px\] {
        height: 500px
    }
    .\-768\:h-\[50px\] {
        height: 50px
    }
    .\-768\:h-\[75px\] {
        height: 75px
    }
    .\-768\:min-h-\[250px\] {
        min-height: 250px
    }
    .\-768\:min-h-fit {
        min-height: -moz-fit-content;
        min-height: fit-content
    }
    .\-768\:w-\[100\%\],
    .\-768\:w-full {
        width: 100%
    }
    .\-768\:min-w-\[24px\] {
        min-width: 24px
    }
    .\-768\:min-w-\[50px\] {
        min-width: 50px
    }
    .\-768\:max-w-\[150px\] {
        max-width: 150px
    }
    .\-768\:max-w-\[169px\] {
        max-width: 169px
    }
    .\-768\:max-w-\[200px\] {
        max-width: 200px
    }
    .\-768\:max-w-\[400px\] {
        max-width: 400px
    }
    .\-768\:max-w-\[460px\] {
        max-width: 460px
    }
    .\-768\:max-w-\[500px\] {
        max-width: 500px
    }
    .\-768\:max-w-\[50px\] {
        max-width: 50px
    }
    .\-768\:max-w-\[600px\] {
        max-width: 600px
    }
    .\-768\:max-w-\[70px\] {
        max-width: 70px
    }
    .\-768\:max-w-\[90px\] {
        max-width: 90px
    }
    .\-768\:flex-none {
        flex: none
    }
    .\-768\:scale-\[2\] {
        --tw-scale-x: 2;
        --tw-scale-y: 2;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-768\:flex-col {
        flex-direction: column
    }
    .\-768\:items-start {
        align-items: flex-start
    }
    .\-768\:gap-2 {
        gap: .5rem
    }
    .\-768\:gap-4 {
        gap: 1rem
    }
    .\-768\:gap-\[16px\] {
        gap: 16px
    }
    .\-768\:gap-\[60px\] {
        gap: 60px
    }
    .\-768\:rounded-\[50px\] {
        border-radius: 50px
    }
    .\-768\:rounded-xl {
        border-radius: .75rem
    }
    .\-768\:p-\[6px\] {
        padding: 6px
    }
    .\-768\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }
    .\-768\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .\-768\:pb-\[13px\] {
        padding-bottom: 13px
    }
    .\-768\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .\-768\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .\-768\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .\-768\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .\-768\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
    .\-768\:text-xs {
        font-size: .75rem;
        line-height: 1rem
    }
}

@media (max-width: 650px) {
    .\-650\:block {
        display: block
    }
    .\-650\:hidden {
        display: none
    }
    .\-650\:h-\[328px\] {
        height: 328px
    }
    .\-650\:w-full {
        width: 100%
    }
    .\-650\:max-w-\[343px\] {
        max-width: 343px
    }
    .\-650\:gap-3 {
        gap: .75rem
    }
    .\-650\:overflow-y-scroll {
        overflow-y: scroll
    }
    .\-650\:p-6 {
        padding: 1.5rem
    }
    .\-650\:p-\[10px\] {
        padding: 10px
    }
    .\-650\:px-\[0\.375rem\] {
        padding-left: .375rem;
        padding-right: .375rem
    }
    .\-650\:py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem
    }
    .\-650\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .\-650\:text-\[18px\] {
        font-size: 18px
    }
    .\-650\:text-\[2\.5rem\] {
        font-size: 2.5rem
    }
    .\-650\:text-\[2rem\] {
        font-size: 2rem
    }
    .\-650\:text-\[4rem\] {
        font-size: 4rem
    }
    .\-650\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .\-650\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
    .\-650\:leading-\[130\%\] {
        line-height: 130%
    }
}

@media (max-width: 600px) {
    .\-600\:w-\[80\%\] {
        width: 80%
    }
    .\-600\:flex-col {
        flex-direction: column
    }
    .\-600\:items-center {
        align-items: center
    }
    .\-600\:gap-0 {
        gap: 0px
    }
    .\-600\:gap-14 {
        gap: 3.5rem
    }
}

@media (max-width: 500px) {
    .\-500\:bottom-\[15\%\] {
        bottom: 15%
    }
    .\-500\:left-\[13\%\] {
        left: 13%
    }
    .\-500\:right-\[13\%\] {
        right: 13%
    }
    .\-500\:top-\[-3\%\] {
        top: -3%
    }
    .\-500\:top-\[15\%\] {
        top: 15%
    }
    .\-500\:top-\[25\%\] {
        top: 25%
    }
    .\-500\:my-\[120px\] {
        margin-top: 120px;
        margin-bottom: 120px
    }
    .\-500\:\ !mt-\[20px\] {
        margin-top: 20px !important
    }
    .\-500\:mb-2 {
        margin-bottom: .5rem
    }
    .\-500\:mt-\[-10px\] {
        margin-top: -10px
    }
    .\-500\:mt-\[10px\] {
        margin-top: 10px
    }
    .\-500\:mt-\[12px\] {
        margin-top: 12px
    }
    .\-500\:mt-\[20px\] {
        margin-top: 20px
    }
    .\-500\:mt-\[30px\] {
        margin-top: 30px
    }
    .\-500\:mt-\[44px\] {
        margin-top: 44px
    }
    .\-500\:mt-\[46px\] {
        margin-top: 46px
    }
    .\-500\:mt-\[50px\] {
        margin-top: 50px
    }
    .\-500\:mt-\[5px\] {
        margin-top: 5px
    }
    .\-500\:block {
        display: block
    }
    .\-500\:flex {
        display: flex
    }
    .\-500\:hidden {
        display: none
    }
    .\-500\:\ !h-\[70px\] {
        height: 70px !important
    }
    .\-500\:h-\[108px\] {
        height: 108px
    }
    .\-500\:h-\[140px\] {
        height: 140px
    }
    .\-500\:h-\[148px\] {
        height: 148px
    }
    .\-500\:h-\[200px\] {
        height: 200px
    }
    .\-500\:h-\[220px\] {
        height: 220px
    }
    .\-500\:h-\[250px\] {
        height: 250px
    }
    .\-500\:h-\[400px\] {
        height: 400px
    }
    .\-500\:h-\[40px\] {
        height: 40px
    }
    .\-500\:h-\[42px\] {
        height: 42px
    }
    .\-500\:\ !w-\[108px\] {
        width: 108px !important
    }
    .\-500\:\ !w-\[70px\] {
        width: 70px !important
    }
    .\-500\:w-\[147px\] {
        width: 147px
    }
    .\-500\:w-\[250px\] {
        width: 250px
    }
    .\-500\:w-\[50\%\] {
        width: 50%
    }
    .\-500\:w-\[70px\] {
        width: 70px
    }
    .\-500\:max-w-\[130px\] {
        max-width: 130px
    }
    .\-500\:max-w-\[170px\] {
        max-width: 170px
    }
    .\-500\:max-w-\[17px\] {
        max-width: 17px
    }
    .\-500\:max-w-\[300px\] {
        max-width: 300px
    }
    .\-500\:max-w-\[320px\] {
        max-width: 320px
    }
    .\-500\:max-w-\[350px\] {
        max-width: 350px
    }
    .\-500\:flex-1 {
        flex: 1 1 0%
    }
    .\-500\:translate-x-\[-85\%\] {
        --tw-translate-x: -85%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-500\:translate-x-\[85\%\] {
        --tw-translate-x: 85%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-500\:translate-y-\[20\%\] {
        --tw-translate-y: 20%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-500\:scale-90 {
        --tw-scale-x: .9;
        --tw-scale-y: .9;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-500\:scale-\[3\.2\] {
        --tw-scale-x: 3.2;
        --tw-scale-y: 3.2;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-500\:justify-start {
        justify-content: flex-start
    }
    .\-500\:justify-end {
        justify-content: flex-end
    }
    .\-500\:gap-1 {
        gap: .25rem
    }
    .\-500\:gap-2 {
        gap: .5rem
    }
    .\-500\:gap-3 {
        gap: .75rem
    }
    .\-500\:gap-4 {
        gap: 1rem
    }
    .\-500\:gap-\[0\.4rem\] {
        gap: .4rem
    }
    .\-500\:gap-\[40px\] {
        gap: 40px
    }
    .\-500\:gap-\[6px\] {
        gap: 6px
    }
    .\-500\:gap-y-3 {
        row-gap: .75rem
    }
    .\-500\:rounded-xl {
        border-radius: .75rem
    }
    .\-500\:p-4 {
        padding: 1rem
    }
    .\-500\:p-\[0\.625rem\] {
        padding: .625rem
    }
    .\-500\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }
    .\-500\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .\-500\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .\-500\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }
    .\-500\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
    .\-500\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem
    }
    .\-500\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .\-500\:pt-\[60px\] {
        padding-top: 60px
    }
    .\-500\:text-\[1\.25rem\] {
        font-size: 1.25rem
    }
    .\-500\:text-\[1\.3rem\] {
        font-size: 1.3rem
    }
    .\-500\:text-\[14px\] {
        font-size: 14px
    }
    .\-500\:text-\[16px\] {
        font-size: 16px
    }
    .\-500\:text-\[18px\] {
        font-size: 18px
    }
    .\-500\:text-\[2rem\] {
        font-size: 2rem
    }
    .\-500\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .\-500\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
    .\-500\:text-xs {
        font-size: .75rem;
        line-height: 1rem
    }
    .\-500\:leading-7 {
        line-height: 1.75rem
    }
    .\-500\:leading-\[24px\] {
        line-height: 24px
    }
}

@media (max-width: 400px) {
    .\-400\:h-\[160px\] {
        height: 160px
    }
    .\-400\:h-\[180px\] {
        height: 180px
    }
    .\-400\:h-\[200px\] {
        height: 200px
    }
    .\-400\:h-\[30\%\] {
        height: 30%
    }
    .\-400\:w-\[30\%\] {
        width: 30%
    }
    .\-400\:w-full {
        width: 100%
    }
    .\-400\:min-w-\[20px\] {
        min-width: 20px
    }
    .\-400\:scale-75 {
        --tw-scale-x: .75;
        --tw-scale-y: .75;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .\-400\:gap-0 {
        gap: 0px
    }
    .\-400\:text-xs {
        font-size: .75rem;
        line-height: 1rem
    }
}

@media (max-width: 350px) {
    .\-350\:text-\[10px\] {
        font-size: 10px
    }
}